/* Regular */
@font-face {
	font-family: 'Roboto Regular';
	font-style: normal;
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
/* light */
@font-face {
	font-family: 'Roboto Light';
	font-style: normal;
	src: url('fonts/Roboto-Light.ttf') format('truetype');
}
/* condensed */
@font-face {
	font-family: 'RobotoCondensed Regular';
	font-style: normal;
	src: url('fonts/RobotoCondensed-Regular.ttf.ttf') format('truetype');
}

/*image font*/
@font-face {
	font-family: 'Line Icon';
	font-style: normal;
	src: url('fonts/Simple-Line-Icons.ttf') format('truetype');
}

body {
    margin: 0;
}
#layout {    
    width: 400px;
    height: 400px;
    border-radius: 50%;
	overflow: hidden;
	-webkit-clip-path: circle(50% at 50% 50%);	
}
#content_image{
	position: absolute;
	content: url(assets/wine.jpg);
	width: 400px;
  height: 200px;
	top: 0px;
}
#content_text{
	position: absolute;
	background-color: #dfe3ee;
	width: 400px;
    height: 200px;
	top: 200px;
}
.text_category{
    font-size: 18px;
	font-family: 'RobotoCondensed Regular';
    color: #3b5998;
	text-align: center;
}
.text_title{
    font-size: 18px;
	font-family: 'Roboto Regular';
	text-align: center;
}
.text_note{
    font-size: 14px;
	font-family: 'Roboto light';
	text-align: center;
}
#icon{
	position: polar;
    polar-angle: -90deg;
    polar-distance: 80%;
	width: 30px;
    height: 30px;
	border-radius: 10%;
}
.link{
	content: url(assets/link.png);
}
.box {
    position: absolute;
    top: 0px;
    left: 0px;
	width: 55px;
	height: 55px;
    text-align: center;
    color: white;
    font-size: 1.5em;
	background-position: 0px 0px;
}
#profileImg {
	position: polar;
    polar-angle: 0deg;
    polar-distance: 85%;
	polar-orientation: center;
	background-size: 60px 60px;
	border-radius: 20%;
	background-image: url(assets/img.png);
}

#item1 {
	position: polar;
    polar-angle: -30deg;
    polar-distance: 100% fit;
	polar-orientation: center;
	background-image: url(assets/new.png);
	opacity: 0.9;
}
#item2 {
	position: polar;
    polar-angle: -15deg;
    polar-distance: 100% fit;
	polar-orientation: center;
	background-image: url(assets/profile.png);
	opacity: 0.9;
}
#item3 {
	position: polar;
    polar-angle: 15deg;
    polar-distance: 100% fit;
	polar-orientation: center;
	background-image: url(assets/msg.png);
	opacity: 0.9;
}
#item4 {
	position: polar;
    polar-angle: 30deg;
    polar-distance: 100% fit;
	polar-orientation: center;
	background-image: url(assets/globe.png);
	opacity: 0.9;
}
#item5 {
	position: polar;
  polar-angle: 165deg;
  polar-distance: 100% fit;
	polar-orientation: counter-center;
	background-image: url(assets/video.png);
	opacity: 0.9;
}
#item6 {
	position: polar;
  polar-angle: 180deg;
  polar-distance: 100% fit;
	polar-orientation: counter-center;
	background-image: url(assets/picture.png);
	opacity: 0.9;
}
#item7 {
	position: polar;
  polar-angle: 195deg;
  polar-distance: 100% fit;
	polar-orientation: counter-center;
	background-image: url(assets/like.svg);
	opacity: 0.9;
}