body {
  margin: 0px;
  padding: 0px;
  overflow: visible;
}
#circle {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  border-boundary: display;
}
#myCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
#box1 {
  width: 600px;
  height: 200px;
  border: 4px dashed red;
  background: pink;
}
#box2 {
  width: 600px;
  height: 200px;
  border: 4px dotted green;
  background: lightgreen;
}
#box3 {
  width: 600px;
  height: 200px;
  border: 4px solid blue;
  background: lightblue;
}
